[submodule "slab_allocator"]
	path = slab_allocator
	url = https://gitlab.redox-os.org/redox-os/slab_allocator
[submodule "rmm"]
	path = rmm
	url = https://gitlab.redox-os.org/redox-os/rmm.git
	branch = master
[submodule "redox-path"]
	path = redox-path
	url = https://gitlab.redox-os.org/redox-os/redox-path.git
	branch = main
