[submodule "syscall"]
	path = syscall
	url = https://gitlab.redox-os.org/redox-os/syscall.git
[submodule "slab_allocator"]
	path = slab_allocator
	url = https://gitlab.redox-os.org/redox-os/slab_allocator
