[package]
name = "kernel"
version = "0.1.0"
build = "build.rs"

[lib]
name = "kernel"
path = "src/lib.rs"
crate-type = ["staticlib"]

[dependencies]
alloc_kernel = { path = "alloc_kernel" }
bitflags = "0.7"
spin = "0.4"
raw-cpuid = { git = "https://github.com/gz/rust-cpuid", branch = "master" }
redox_syscall = "0.1"

[dependencies.goblin]
verion = "0.0.8"
default-features = false
features = ["elf32", "elf64"]

[dependencies.x86]
version = "0.7"
default-features = false

[features]
default = []
live = []
